* {
  touch-action: manipulation;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  margin: 0.15em 0;
  margin-bottom: 0px;
}

button {
  width: 250px;
  height: 125px;
  font-size: 100px;
  border-radius: 7px;
}

.textOutput {
  text-align: right;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
}

#zeroButton,
#oneButton,
#twoButton,
#threeButton,
#fourButton,
#fiveButton,
#sixButton,
#sevenButton,
#eightButton,
#nineButton,
#backspaceButton,
#divisionButton,
#multiplicationButton,
#substractionButton,
#additionButton,
#equalsButton {
  width: 25%;
  height: auto;
}